.sozial_media
{
    margin-top: ;
    float: right;
    
}
.e-mail
{
    
   padding-top: ;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 3em;

    float: left;
}
img
{
    height: 30px;
}